<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLinkActive="active" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/events']"  [routerLinkActiveOptions] ="{exact:true}"
             routerLinkActive="active">All Events</a>
          </li>
          <li><a [routerLink]="['/events/new']"
                  routerLinkActive="active">Create Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let event of eventList" >
                <a [routerLink]="['/events',event.id]">{{ event.name | lowercase }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a [routerLink]="['user/login']" *ngIf="!auth.isAuthenticated()">Login</a>
              <a [routerLink]="['user/profile']" *ngIf="auth.isAuthenticated()"> Welcome {{ auth.currentUser.firstname}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm"  (ngSubmit)="searchSessions(searchTerm)"  class="navbar-form navbar-right"  >
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
          </div>
          <button class="btn btn-default" modal-trigger="sessionModal">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <simple-modal title="Matching Sessions" elementId="sessionModal">
    <div class="list-group">
        <p class="list-group-item" *ngIf="foundSessions?.length==0">There are no sessions that you have searched</p>
        <a class="list-group-item" *ngFor="let session of foundSessions" 
        [routerLink]="['/events',session.eventId]">{{session.name}}</a>
    </div>
  </simple-modal>