<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form  #loginForm="ngForm"  (ngSubmit)="login(loginForm.value)"
     autocomplete="off" novalidate> 
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid &&
          (loginForm.controls.userName?.touched || mouseoverLogin)">Username should not be empty</em>
      <input (ngModel)="username" name="userName" id="userName" type="text" class="form-control" placeholder="User Name..." required/>
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid &&
      (loginForm.controls.password?.touched || mouseoverLogin)"  >Password should not be empty</em>
      <input (ngModel)="password" name="password" id="password" type="password" class="form-control"placeholder="Password..." required />
    </div>
        
    <span (mouseenter)="mouseoverLogin=true"  (mouseleave)="mouseoverLogin=false">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button></span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    
  </form>
</div>
