<div class="col-md-12">
    <h3>Create Session</h3>
  </div>
  <div class="col-md-6">
    <form [formGroup]="newSessionForm" (ngSubmit)="saveSession(newSessionForm.value)" autocomplete="off">
      <div class="form-group" [ngClass]="{'error': name.invalid && name.touched}">
        <label for="sessionName">Session Name:</label>
        <em *ngIf="name.invalid && name.touched">Required</em>
        <input formControlName="name" id="sessionName" type="text" class="form-control" placeholder="session name..." />
      </div>
      <div class="form-group" [ngClass]="{'error': presenter.invalid && presenter.touched}">
        <label for="eventDate">Presenter:</label>
        <em *ngIf="presenter.invalid && presenter.touched">Required</em>
        <input formControlName="presenter" id="presenter" type="text" class="form-control" placeholder="presenter..." />
      </div>
      <div class="form-group" [ngClass]="{'error': duration.invalid && duration.touched}">
        <label for="duration">Duration:</label>
        <em *ngIf="duration.invalid && duration.touched">Required</em>
        <select formControlName="duration" class="form-control">
          <option value="">select duration...</option>
          <option value="1">Half Hour</option>
          <option value="2">1 Hour</option>
          <option value="3">Half Day</option>
          <option value="4">Full Day</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'error': level.invalid && level.touched}">
        <label for="level">Level:</label>
        <em *ngIf="level.invalid && level.touched">Required</em>
        <select  formControlName="level" class="form-control">
          <option value="">select level...</option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'error': abstract.invalid && abstract.touched}">
        <label for="abstract">Abstract:</label>
        <em *ngIf="abstract.invalid && abstract.touched && abstract?.errors.required">Required</em>
        <em *ngIf="abstract.invalid && abstract.touched && abstract?.errors.maxLength">Cannot exceed 400 characters</em>
        <textarea formControlName="abstract" id="abstract" rows=3 class="form-control" placeholder="abstract..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="newSessionForm.invalid" >Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
  </div>